<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linn.home.dao.UserDao">
    <resultMap id="userResultMap" type="com.linn.home.entity.User">
        <id property="id" column="id" />
        <result property="nickname" column="nickname"/>
        <result property="email" column="email"/>
        <result property="sex" column="sex"/>
        <result property="city" column="city"/>
        <result property="avatar" column="avatar"/>
        <result property="signMsg" column="sign_msg"/>
        <result property="userName" column="user_name"/>
        <result property="passWord" column="pass_word"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <!--通过用户名查找用户-->
    <select id="findUserByName" parameterType="String" resultMap="userResultMap">
        SELECT id,nickname,user_name,sex,email,city,avatar,sign_msg
        FROM blog_user
        WHERE 1=1
        AND user_name = #{value}
    </select>

    <!--验证用户是否存在-->
    <select id="findUserByNameAndPass" parameterType="com.linn.home.entity.User" resultType="int">
        SELECT count(1)
        FROM blog_user
        WHERE user_name = #{userName}
        AND pass_word = #{passWord}
    </select>

    <!--修改用户头像地址-->
    <update id="updateUserAvatar">
        UPDATE blog_user
        SET avatar=#{avatar}
        WHERE user_name = #{userName}
    </update>

    <!--修改用户个人信息-->
    <update id="updateUserByUserName">
        UPDATE blog_user
        SET nickname=#{nickname},email=#{email},sex=#{sex},city=#{city},sign_msg=#{signMsg},gmt_modified = #{gmtModified}
        WHERE user_name = #{userName}
    </update>

    <!--修改密码-->
    <update id="updatePasswordByUsername">
        UPDATE blog_user
        SET pass_word=#{passWord},gmt_modified = #{gmtModified}
        WHERE user_name = #{userName}
    </update>

    <!--根据用户名查找拥有的所有角色 shiro-realm需要使用-->
    <select id="getRolesByUsername" parameterType="String" resultType="String">
        SELECT role_name
        FROM  blog_user_roles
        WHERE user_name = #{userName}
    </select>

    <!--根据角色名查找拥有的所有权限 shiro-realm需要使用-->
    <select id="getPermisionByUsername" parameterType="String" resultType="String">
        SELECT permission
        FROM blog_roles_permissions rp
        JOIN blog_user_roles ur
        ON rp.role_name = ur.role_name
        WHERE ur.user_name ="001";
    </select>

    <!--根据用户名查找密码 shiro-realm需要使用-->
    <select id="getPasswordByUsername" resultMap="userResultMap">
        SELECT pass_word
        FROM blog_user t
        WHERE t.user_name = #{userName}
    </select>
</mapper>